html {
  background-color: #e3d9d1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 80%;
}

#nameAndIntro {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
}

#skillBadges {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#htmlbadge,
#cssbadge,
#reactbadge,
#sqlbadge,
#jsbadge,
#nodebadge {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid;
  border: 10px solid white;
  border-radius: 50px;
  box-shadow: 9px 9px 20px #908f90;
  padding: 20px 20px 20px 0px;
}

#parent {
  display: flex;
  justify-content: center;
}

.container {
  font-family: helvetica, arial, sans-serif;
  position: relative;
  border: 1px solid black;
  font-family: "Bebas Neue", sans-serif;
  width: 50%;
}

.sticky-thc {
  #leftmoving,
  #leftmovingtwo,
  #rightmovingone {
    position: sticky;
    top: 0;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
  }
}

#parent {
  display: flex;
}

#moving {
  display: flex;
  flex-direction: column;
}

#skills {
  display: flex;
  justify-content: space-around;
  color: white;
}

#skills p {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
  background-color: black;
  font-size: 20px;
}

#leftmoving h1 {
  font-size: 70px;
}

#leftmoving {
  height: 400px;
}
#leftmovingtwo {
  height: 1215px;
}
#desktopimage {
  height: 395px;
  width: 100%;
  height: 400px;
}

#rightmovingtrackone {
  height: 1800px;
}

#leftmovingtracktwo {
  height: 1800px;
  position: sticky;
}

#desktopimage {
  padding: 0px;
  margin: 0px;
}

#leftmovingthree {
  margin-top: 40px;
}
