html {
  background-color: #e3d9d1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 80%;
  font-family: "Bebas Neue", sans-serif;

}

#nameAndIntro {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
}

#nameAndIntro h4{
  display: flex;
  font-size: 45px;
  color: #211A1E;

}

#helloWrd {
  color: #3F7CAC;
  margin-bottom: 0px;
}
#hellomsg {
  width: 50%;
  text-align: left;
}

#hellomsg h6 {
  margin-top: 2%;
}

.focus {
  color: #3F7CAC;
}


h4 {
  font-size: 60px;
  margin-bottom: 15px;
}

#skillBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#htmlbadge,
#cssbadge,
#reactbadge,
#sqlbadge,
#jsbadge,
#nodebadge {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 9px 9px 20px #908f90;
  padding: 20px 25px 20px 25px;
}

#htmlbadge {
  box-shadow: 9px 9px 1px #E44D26;
}

#cssbadge {
  box-shadow: 9px 9px 1px #1572B6;
}

#reactbadge {
  box-shadow: 9px 9px 1px #34abcc;
}

#sqlbadge {
  box-shadow: 9px 9px 1px #636262;
}

#jsbadge {
  box-shadow: 9px 9px 1px #d2bf44;
}

#nodebadge {
  box-shadow: 9px 9px 1px #5fa04e;
}

.educationblock {
  display: flex;
  justify-content: space-between
}

.educationblock p {
  font-size: 30px;
  display: flex;

}

.educationdesc {
  display: flex;
  align-self: center;
  width: 50%;
}

