<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="404.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="https://unpkg.com/sv443-joke-api@0.0.8/web/index.js"></script>
    <script src="apicall.js"></script>
    <h1 id="fourohfour">404</h1>
    <h1 id="fourohfourtxt">page not found</h1>
    <h3>
      I don't know how you got here but listen to this
    </h3>
    <h3>
      *ahemm ahemm*
    </h3>
    <div id="joke-container">
      <h1 id="joke--text"></h1>
      <h6>
        !! any offensive joke is not mine, i am literally just calling an api !!
      </h6>
    </div>
  </body>
</html>
